@import './scss/lux/style.scss';
hr {
    border: 1px solid white;
}
.song-card {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    &_left {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        height: inherit;
    }
    &_right {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding: 10px 3px 3px 10px;
    }
    h6, p {
        margin: 0;
    }
    h6 {
        @media (max-width: 369px) { 
            overflow: hidden;
            max-height: 28px;
        }
    }
}

.pagination {
    flex-wrap: wrap;
}